
fieldset.export-button {
    clear: none;
    float: left;
}

.publish-later-datetime ~ fieldset.export-button {
    margin: 0 0 0 12px;
    padding: 0 12px;
    border-left: 1px solid #ccc;
}

/** RTL */
.dir-rtl fieldset.export-button {
    float: right;
}

.dir-rtl fieldset.export-button {
    margin: 0 0 0 12px;
}
